.gamename {
	text-align: center;
}

.chat {
	position: fixed;
	right: 0;
	top: 2.5rem;
	bottom: 2.5rem;
}

.chat-input {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 50%;
	height: 2.5rem;

	margin-bottom: .25rem;
	box-sizing: border-box;
    padding: .375rem 1rem;
	border-radius: .25rem;
	border: 1px solid #9A9A9A;
}

.players {
	position: fixed;
	left: 0;
	top: 2.5rem;
	bottom: 0;
	right: 50%;

	text-align: center;
}

.player {
	width: 95%;
	border: 1px solid #9A9A9A;
	text-align: center;
}

.player .disconnected {
	background-color: #9A9A9A;
}
